body {
  background-color: #5a5a5a;
  color: #282828;
  text-align: center;
  font-family: 'Kanit', serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  margin-bottom: 20px;
  font-size: 3rem;
  color: #282828;
}

.header {
  display: flex;
  align-items: center;
}

.timer,
.errors,
.accuracy {
  background-color: #808080;
  height: 60px;
  width: 70px;
  margin: 8px;
  padding: 12px;
  border-radius: 20%;
  box-shadow: #282828 3px 5px 3px;
}

.header_text {
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 600;
}

.curr_time,
.curr_errors,
.curr_accuracy {
  font-size: 2.6rem;
}

.quote {
  background-color: #b0a9af;
  font-size: 1.5rem;
  margin: 10px;
  padding: 25px;
  box-shadow: #282828 3px 5px 3px;
}

.input_area {
  background-color: #f6f6f6;
  height: 80px;
  width: 40%;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 15px;
  padding: 20px;
  border: 0px;
  box-shadow: #282828 3px 5px 3px;
}

.incorrect_char {
  color: red;
  text-decoration: underline;
}

.correct_char {
  color: green;
}

.restart_btn {
  display: none;
  background-color: #ff734d;
  border-radius: 20%;
  font-size: 1.5rem;
  padding: 10px;
  border: 0px;
  box-shadow: #282828 3px 5px 3px;
}

.standings{
  background-color: #e80d0d;
  border-radius: 20%;
  font-size: 1.5rem;
  padding: 10px;
  border: 0px;
  box-shadow: #282828 3px 5px 3px;
}

#highScores{
  position: fixed;
  
  width: 250px;
  right: 0;
  top: 0;
  min-height: 100vh;
  background: rgb(119,25,131);

}

#highScores h2 {
  color: #fff;
}

#scores{
  margin: 0;
  padding: 0;
}
#scores li{
  color: #1dbf73;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;

}
#scores li span{
  width: 33.3%;

}